@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --light-gray: #ddd;
    --dark-gray: #333;
    --gray: #444;
    --pink-color: #c7365f;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    text-transform: uppercase;
    color: var(--dark-gray);
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LAYOUT */
main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}

/* ELEMENTS */
.name {
    position: relative;
    font-size: 4rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: var(--pink-color);
    margin-bottom: auto;
}

    /* Player Active */
.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
    font-weight: 700;
}
.player--active .score {
    font-weight: 400;
}
.player--active .current {
    opacity: 1;
}

    /* Score */
.current {
    background-color: var(--pink-color);
    opacity: 0.8;
    border-radius: 9px;
    color: var(--white);
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--light-gray);
}

.current-score {
    font-size: 3.5rem;
}

/* BUTTONS */
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--gray);
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;

    background-color: var(--white);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--new {
    top: 4rem;
}
.btn--roll {
    top: 39.3rem;
}
.btn--hold {
    top: 46.1rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

/* DICE */
.dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

/* PLAYER'S */
.player--winner {
    background-color: var(--dark-gray);
}

.player--winner .name {
    font-weight: 700;
    color: var(--pink-color);
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px){
    html {
        font-size: 31.5%;
    }
    main {
        width: 90rem;
        height: 100rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .player {
        padding: 5rem 34.9rem 5rem 34.9rem;
    }

    /* SCORE */
    .current {
        width: 100%;
    }

    .current-label {
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .current-score {
        font-size: 5rem;
    }

    /* BUTTONS */
    .btn {
        position: absolute;
        padding: 1rem 2.5rem;
    }

    .btn--new {
        left: 11rem;
        top: 35rem;
    }
    .btn--roll {
        left: 10.5rem;
        top: 47.5rem;
    }
    .btn--hold {
        left: 8.5rem;
        top: 60rem;
    }

    /* DICE */
    .dice {
        position: absolute;
        left: 85%;
        top: 41rem;
        height: 18rem;
    }
}